body {
  background: white;
  font-family: 'Roboto', sans-serif;
  border: 10px solid black;
  margin: 0px;
  padding: 20px;
  min-height: 100vh;
}

/* General layout for the entire site. */
table {
  border-collapse: collapse;
  width: 100%;
}

a {
  text-decoration: none;
  color: #3030f0;
}

table td, table th {
  padding: 0px;
  padding-left: 6px;
  padding-top: 6px;
  text-align: left;
}

table tr:nth-child(odd) {
  background-color: #e0e0e0;
}

table tr:nth-child(even) {
  background-color: white;
}

table th {
  background-color: #c0c0c0;
}

/* Never wrap any dates. */
td.date {
  white-space: nowrap;
}

table img.cover {
  height: 100px;
}

/* Make the emojis showing the formats and statuses bigger. */
td.format, td.status {
  font-size: 40px;
}

/* The element you can click to get back to the top level page. */
div.top {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 30px;
}

/* The tag line at the bottom of the page. */
div.credits {
  padding-top: 20px;
  font-style: italic;
}

/* The front page.  We need a fixed layout since we have an overflow:
   hidden on the covers td.  */
table.authors {
  width: 100%;
  table-layout: fixed;
}

/* Align the book count to the right. */
table.authors td:nth-of-type(1), table.authors th:nth-of-type(1) {
  text-align: right;
  width: 5%;
  padding-right: 20px;
}

table.authors td.author, table.authors th.author {
  width: 25%;
}

/* Increase the font size in the author table. */
table.authors td {
  font-size: 20px;
}

table.authors img {
  margin-left: 10px;
}

table.authors td.covers, table.authors th.covers {
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

/* Placeholder. */
div.no-image {
  height: 100px;
  width: 70px;
}

/* Used to give a more random placement of the covers.  */
span.space-image {
  width: 70px;
  display: inline-block;
}

/* Elements for the indivdual-book pages. */
div.cover-image {
  padding-top: 20px;
}

div.cover-image img {
  max-height: 50%;
  max-width: 50%;
}

div.status, div.genres {
  padding-top: 20px;
}

body.book span {
  font-weight: bold;
}

div.author, div.title {
  font-weight: bold;
}

div.series {
  font-weight: bold;
  font-size: small;
}

div.links {
  padding-top: 20px;
}

div.links > span {
  font-weight: normal;
}

/* General view transition stuff -- makes clicking things smoother.
   (This is not supported on all browsers.)  */
@view-transition {
  navigation: auto;
}

::view-transition-old(root) {
  animation: fade-out 0.3s ease-in-out forwards;
}

::view-transition-new(root) {
  animation: fade-in 0.3s ease-in-out forwards;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

/* Remove elements (and stuff) on smaller (mobile) screens.  */
@media screen and (max-width: 768px) {
  th.date, td.date, th.author, td.author, th.count, td.count {
    display: none;
  }

  table.authors th.author, table.authors td.author {
    display: table-cell;
    width: 120px;
  }

  td, th {
    font-size: 20px;
  }

  span.space-image-2, span.space-image-3,
  span.space-image-4, span.space-image-4 {
    display: none;
  }

  body {
    padding: 2px;
    border: 0px;
  }

  div.top {
    top: 5px;
    right: 5px;
  }
}
